<!DOCTYPE html>
<html lang="ja">
<html class="fontawesome-i2svg-active fontawesome-i2svg-complete">
    <head>
        <meta charset="UTF-8" />
        <title>Bookers2Ver2</title>
        <meta name="csrf-param" content="authenticity_token">
        <meta name="csrf-token">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <script src="https://kit.fontawesome.com/91859b3e97.js" crossorigin="anonymous"></script>
        <style type="text/css"></style>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    </head>
    <body>
        <header>
         <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="/">
                    <span>Bookers</span>
                </a>
                <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav ml-auto">
                    <li><a class="nav-link text-light" href="/"><i class="fa-solid fa-house"></i>Home</a></li>
                    <li><a class="nav-link text-light" href="/home/about"><i class="fa-solid fa-link"></i>About</a></li>
                    <li><a class="nav-link text-light" href="/users/sign_up"><i class="fa-solid fa-user-plus"></i>Sign up</a></li>
                    <li><a class="nav-link text-light" href="/users/log_in"><i class="fa-solid fa-right-to-bracket"></i>Log in</a></li>
                  </ul>
                </div>
            </div>
          </nav>
        </header>
      <main>
          <div class="container">
            <div class="row">
              <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0">
                <h2>Log in</h2>
                <%= form_with model:@user, url: user_session_path do |f| %>
                <%= render "devise/shared/error_messages", resource: resource %>
                  <div class="field">
                    <%= f.label :name %><br>
                    <%= f.text_field :name %>
                  </div>
                  <div class="field">
                    <%= f.label :email %><br />
                    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
                  </div>
                  <div class="field">
                    <%= f.label :password %>
                    <% if @minimum_password_length %>
                    <em>(<%= @minimum_password_length %> characters minimum)</em>
                    <% end %><br />
                    <%= f.password_field :password, autocomplete: "new-password" %>
                  </div>
                  <div class="field">
                    <%= f.label :password_confirmation %><br />
                    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
                  </div>
                  <div class="actions">
                    <%= f.submit "Sign up" %>
                    <a href="users/sign_in">Log in</a>
                  </div>
                <% end %>
                <%= render "devise/shared/links" %>
              </div>
            </div>
          </div>
      </main>
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    </body>
    <footer>
        <div class="container mt-5">
          <div class="row">
              <div class="mx-auto"><p>CopyRight Infratop.inc</p></div>
          </div>
        </div>
    </footer>
</html>